a {
    text-decoration: none;
}

ul li {
    list-style: none;
}
nav {
    text-align: center;
    width: 50%;
}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 50%; */
}

.active {
    background-color: pink;
}